@import '../../index.scss';

.knowledge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.knowledge-circle {
  background: $secondary-color;
  box-shadow: -7px 1px 0 0 rgba(225, 184, 16, 0.64);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  p {
    font-family: $content-font;
    color: $primary-color;
  }
}

@media all and (min-width: 1280px) {
  .knowledge-container {
    padding: 0 204px 0;
  }
  .knowledge-circle {
    height: 5rem;
    width: 5rem;
    font-size: 16px;
  }
}
