@import '../../index.scss';

.frontend-container {
  display: flex;
  padding: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

@media all and (min-width: 1280px) {
  .frontend-container {
    padding: 0 204px 0;
  }
}
