@import '../../index.scss';

.UX-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.UX-card {
  background-color: $tertiary-color;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  box-shadow: 0 13px 12px 0 rgba(0, 0, 0, 0.5);

  h2 {
    background: #1f1b1e;
    font-family: $title-font;
    color: $primary-color;
    margin: 0;
    padding: 4px;
    align-self: start;
    width: -webkit-fill-available;
    font-size: 16px;
  }
}

.UX-project-img {
  padding: 16px;
  width: 80vw;
}

.UX-card-button {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.UX-more-info-content {
  padding: 16px;
  font-family: $content-font;

  h3 {
    text-transform: uppercase;
  }
}

@media all and (min-width: 1280px) {
  .UX-container {
    flex-wrap: nowrap;
  }
  .UX-card {
    h2 {
      font-size: 18px;
      padding: 10px;
    }
  }

  .UX-project-img {
    padding: 16px;
    width: 50vw;
  }
}
