@import '../../index.scss';

.form-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  & button {
    align-self: center;
  }
}

.form-name-email-container {
  display: flex;

  justify-content: space-between;
}

.input-form {
  background: #d8d8d8;
  border: 0;
  outline: none;
  width: 50%;
  font-size: 14px;
  padding: 16px;
}

.text-area {
  width: unset;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 100px;
}

.contact-logos {
  display: flex;
  justify-content: space-evenly;
}

.input-required {
  border: 1px solid red;
}

@media all and (min-width: 1280px) {
  .form-container {
    padding: 25px 204px 0;
  }
  .contact-logos {
    padding: 0 204px 0;
  }
}
