@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

//Variables
//Colors
$primary-color: #dfdde5;
$secondary-color: #1f1b1e;
$tertiary-color: #d8d8d8;
$yellow: #e1b810;

//Fonts
$poster-font: 'Fredericka the Great';
$title-font: 'Oswald';
$content-font: 'Lato';

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

p {
  font-family: $content-font;
}
